<footer class="footer">
    <!-- Информационный блок с соц.сетями.
    <nav class="footer_info">
      <div class="footer_social-list">
        <span class="footer-text">Мы в социальных сетях:</span>
        <a href="https://vk.com/opfobos" class="footer_social-link">
          <img src="images/vk.svg" alt="Логотип Вконтакте">
        </a>
      </div>

      <form class="footer_info-email">
        <span class="footer-text">Подпишитесь на наши новости:</span>
        <input class="input" type="email" name="email" placeholder="Ваш email" required>
        <button class="footer_btn" type="submit">
          <img src="images/mail.svg" alt="Логотип Вконтакте" style="width: 25px; height: 25px;">
          <span>Подписаться</span>
        </button>
      </form>
    </nav>
    -->

    <nav class="footer_phons content">

        <nav class="footer-work">
            <div class="footer-work_slv">
                <p class="text_heading">Режим работы: г. Салават</p>
                <span><span class="text_heading-bold">В будни: </span>09:00 — 20:00</span><br>
                <span><span class="text_heading-bold">В выходные: </span>10:00 — 19:00</span><br>
                <span>Без перерывов и выходных</span><br>
            </div>

            <div class="footer-work_str">
                <p class="text_heading">Режим работы: г. Стерлитамак</p>
                <span><span class="text_heading-bold">В будни: </span>09:00 — 17:00</span><br>
                <span><span class="text_heading-bold">В выходные: </span>суббота и воскресенье</span><br>
                <span>Без перерывов</span><br>
            </div>
        </nav>

        <nav>
            <address class="footer-address">
                <p class="text_heading">г. Салават</p>
                <a class="address"
                    href="https://yandex.ru/maps/11115/salavat/house/ulitsa_lenina_5/YUwYfwVjQUQHQFtpfX90eHplZw==/?ll=55.923809%2C53.359582&z=17">
                    <span class="text_heading-bold">Адрес: </span>ул.Ленина, д.5/11
                </a>

                <div class="address_phon_item">
                    <a class="address" href="tel:+79174557784"><span class="text_heading-bold">Телефон: </span>+7 (917)
                        455-77-84
                    </a><br>
                    <a class="address" href="tel:+73476353114"><span class="text_heading-bold">Телефон: </span>+7
                        (3476)
                        35-31-14
                    </a>
                </div>

                <a class="address" href="mailto:info@opfobos.ru"><span class="text_heading-bold">Email:
                    </span>info@opfobos.ru
                </a>
            </address>
        </nav>


        <nav>
            <address class="footer-address">
                <p class="text_heading">г. Стерлитамак</p>
                <a class="address"
                    href="https://yandex.ru/maps/11116/sterlitamak/house/prospekt_lenina_71/YUwYfwRkTkQCQFtpfXpycntnYQ==/?ll=55.934706%2C53.633745&z=17">
                    <span class="text_heading-bold">Адрес: </span>пр.Ленина, д.71
                </a>

                <div class="address_phon_item">
                    <a class="address" href="tel:+79178021083"><span class="text_heading-bold">Телефон: </span>+7 (917)
                        802-10-83</a><br>
                    <a class="address" href="tel:+73473439605"><span class="text_heading-bold">Телефон: </span>+7 (3473)
                        43-96-05</a><br>
                </div>

                <a class="address" href="mailto:str@opfobos.ru">
                    <span class="text_heading-bold">Email: </span>str@opfobos.ru
                </a>
            </address>
        </nav>
    </nav>
</footer>

<footer class="footer_end">
    <div class="footer_end-list">
        <span class="footer-text">© Издательство "Фобос"</span>
    </div>
</footer>