<header class="header_info">
  <div class="content">
    <a class="header_logo_2" href="/html/index.html">
      <img class="header_logo_2-image" src="/images/logo_2.png" alt="Логотип">
    </a>
  </div>

  <address class="address_header_city">
    <span class="word">г.Салават</span><br />
    <a class="address_header" href="tel:+79174557784">+7 (917) 455-77-84</a>
    <a class="address_header" href="mailto:info@opfobos.ru"><br />info@opfobos.ru</a>
  </address>

  <address class="address_header_city">
    <span class="word">г.Стерлитамак</span><br />
    <a class="address_header" href="tel:+79178021083">+7 (917) 802-10-83</a>
    <a class="address_header" href="mailto:str@opfobos.ru"><br />str@opfobos.ru</a>
  </address>

  <nav class="header_info-btn content">
    <button class="header_btn">
      <a href="/html/company.html" class="btn-info">О компании</a>
    </button>
    <button class="header_btn">
      <a href="/html/contact.html" class="btn-info">Контакты</a>
    </button>
    <button class="header_btn">
      <a href="https://service.opfobos.ru/" class="btn-info">Сервис</a>
    </button>
  </nav>
</header>


<header>

  <nav class="menu">
    <ul class="menu_list">
      <li class="menu_item">
        <a href="/html/list_product/list_product.html" class="btn-info">Листовая<br />полиграфия</a>

        <div class="submenu left">
          <div class="submenu_left">
            <img src="/images/menu/vizitka/vizitka.png" alt="Описание" class="submenu-image">
            <h6 class="submenu-description">Лидер продаж</h6>
            <span>Визитки</span>
            <button class="submenu_btn">
              <a href="/html/list_product/Business_card.html" class="btn-info">Подробнее</a>
            </button>
          </div>

          <div class="submenu-divider">|</div>

          <div class="submenu_right">
            <div class="submenu_item" data-url="/html/list_product/Business_card.html">
              <img src="/images/menu/vizitka/vizitka.png" alt="Визитки" class="submenu_img">
              <span class="submenu-text">Визитки</span>
            </div>

            <div class="submenu_item" data-url="/html/list_product/list.html">
              <img src="/images/menu/vizitka/2.png" alt="Листовки" class="submenu_img">
              <span class="submenu-text">Листовки и <br> флаеры</span>
            </div>

            <div class="submenu_item" data-url="/html/list_product/booklets.html">
              <img src="/images/menu/vizitka/3.png" alt="Буклеты" class="submenu_img">
              <span class="submenu-text">Буклеты</span>
            </div>

            <div class="submenu_item" data-url="/html/list_product/Poster.html">
              <img src="/images/menu/vizitka/4.png" alt="Плакаты" class="submenu_img">
              <span class="submenu-text">Плакаты,<br> постеры, афиши</span>
            </div>

            <div class="submenu_item" data-url="/html/list_product/calendar.html">
              <img src="/images/menu/vizitka/5.png" alt="Календари" class="submenu_img">
              <span class="submenu-text">Календари</span>
            </div>

            <div class="submenu_item" data-url="/html/list_product/Certificates.html">
              <img src="/images/menu/vizitka/6.png" alt="Сертификаты" class="submenu_img">
              <span class="submenu-text">Сертификаты,<br> грамоты, <br> дипломы</span>
            </div>

            <div class="submenu_item" data-url="/html/list_product/Ads.html">
              <img src="/images/menu/vizitka/7.png" alt="Объявления" class="submenu_img">
              <span class="submenu-text">Объявления</span>
            </div>
          </div>
        </div>
      </li>


      <div class="submenu_item-divider">|</div>

      <li class="menu_item">
        <a href="/html/operational_services/operational_services.html" class="btn-info">Оперативные<br />услуги</a>

        <div class="submenu left">
          <div class="submenu_left">
            <img src="/images/menu/services/doc_copy.png" alt="Копирование документов" class="submenu-image">
            <h6 class="submenu-description">Лидер продаж</h6>
            <span>Копирование документов</span>
            <button class="submenu_btn">
              <a href="/html/operational_services/copy_documents.html" class="btn-info">Подробнее</a>
            </button>
          </div>

          <div class="submenu-divider">|</div>

          <div class="submenu_right">
            <div class="submenu_item" data-url="/html/operational_services/printing_documents.html">
              <img src="/images/menu/services/doc_print.png" alt="Печать документов" class="submenu_img">
              <span class="submenu-text">Печать <br> документов</span>
            </div>

            <div class="submenu_item" data-url="/html/operational_services/copy_documents.html">
              <img src="/images/menu/services/doc_copy.png" alt="Копирование документов" class="submenu_img">
              <span class="submenu-text">Копирование <br> документов</span>
            </div>

            <div class="submenu_item" data-url="/html/operational_services/scan.html">
              <img src="/images/menu/services/doc_scan.png" alt="Сканирование документов" class="submenu_img">
              <span class="submenu-text">Сканирование <br> документов</span>
            </div>

            <div class="submenu_item" data-url="/html/operational_services/drawings.html">
              <img src="/images/menu/services/drawing.png" alt="Чертежи" class="submenu_img">
              <span class="submenu-text">Чертежи</span>
            </div>

            <div class="submenu_item" data-url="/html/operational_services/posters.html">
              <img src="/images/menu/services/posters.png" alt="Плакаты, постеры, афиша" class="submenu_img">
              <span class="submenu-text">Плакаты, постеры, <br> афиша</span>
            </div>

            <div class="submenu_item" data-url="/html/operational_services/spring.html">
              <img src="/images/menu/services/stitching.png" alt="Брошюровка на пружину" class="submenu_img">
              <span class="submenu-text">Брошюровка на <br> пружину</span>
            </div>

            <div class="submenu_item" data-url="/html/operational_services/lamination.html">
              <img src="/images/menu/services/lamination.png" alt="Ламинирование" class="submenu_img">
              <span class="submenu-text">Ламинирование</span>
            </div>
          </div>
        </div>
      </li>


      <div class="submenu_item-divider">|</div>

      <li class="menu_item">
        <a href="/html/Books/Books.html" class="btn-info">Книги, журналы,<br />газеты</a>

        <div class="submenu center_1">
          <div class="submenu_left">
            <img src="/images/menu/books/kniga.png" alt="Книги" class="submenu-image">
            <span>Книги</span>
            <button class="submenu_btn">
              <a href="/html/Books/Books.html" class="btn-info">Подробнее</a>
            </button>
          </div>

          <div class="submenu-divider">|</div>

          <div class="submenu_left">
            <img src="/images/menu/books/zhurnal.png" alt="Журналы" class="submenu-image">
            <span>Журналы</span>
            <button class="submenu_btn">
              <a href="/html/Books/Books.html" class="btn-info">Подробнее</a>
            </button>
          </div>

          <div class="submenu-divider">|</div>

          <div class="submenu_left">
            <img src="/images/menu/books/gazeta.png" alt="Газеты" class="submenu-image">
            <span>Газеты</span>
            <button class="submenu_btn">
              <a href="/html/Books/Books.html" class="btn-info">Подробнее</a>
            </button>
          </div>
        </div>
      </li>


      <div class="submenu_item-divider">|</div>

      <li class="menu_item">
        <a href="/html/sticker/sticker.html" class="btn-info">Этикеточная<br />продукция</a>
      </li>


      <div class="submenu_item-divider">|</div>

      <li class="menu_item">
        <a href="/html/printing_press/printing_press.html" class="btn-info">Способы<br />изготовления</a>

        <div class="submenu center_2">
          <div class="submenu_left">
            <img src="/images/menu/printing_press/offset.png" alt="Описание" class="submenu-image">
            <h6 class="submenu-description">Лидер продаж</h6>
            <span>Офсетная печать</span>
            <button class="submenu_btn">
              <a href="/html/printing_press/ofset.html" class="btn-info">Подробнее</a>
            </button>
          </div>

          <div class="submenu-divider">|</div>
          <div class="submenu_right">
            <div class="submenu_item" data-url="/html/printing_press/ofset.html">
              <img src="/images/menu/printing_press/offset.png" alt="Визитки" class="submenu_img">
              <span class="submenu-text">Офсетная<br> печать</span>
            </div>

            <div class="submenu_item" data-url="/html/printing_press/digital.html">
              <img src="/images/menu/printing_press/digital.png" alt="Визитки" class="submenu_img">
              <span class="submenu-text">Цифровая<br> печать</span>
            </div>

            <div class="submenu_item" data-url="/html/printing_press/risograph.html">
              <img src="/images/menu/printing_press/risography.png" alt="Визитки" class="submenu_img">
              <span class="submenu-text">Ризография</span>
            </div>

            <div class="submenu_item" data-url="/html/Books/newspaper.html">
              <img src="/images/menu/printing_press/newspaper.png" alt="Визитки" class="submenu_img">
              <span class="submenu-text">Газетная<br> печать</span>
            </div>

            <div class="submenu_item" data-url="/html/printing_press/large_format.html">
              <img src="/images/menu/printing_press/widescreen.png" alt="Визитки" class="submenu_img">
              <span class="submenu-text">Широко-<br>форматная<br>печать</span>
            </div>
          </div>
        </div>
      </li>


      <div class="submenu_item-divider">|</div>

      <li class="menu_item">
        <a href="/html/souvenir/souvenir.html" class="btn-info">Сувениры<br />и подарки</a>

        <div class="submenu right">
          <div class="submenu_left">
            <img src="/images/menu/souvenir/mugs.png" alt="Описание" class="submenu-image">
            <h6 class="submenu-description">Лидер продаж</h6>
            <span>Кружки</span>
            <button class="submenu_btn">
              <a href="/html/souvenir/mugs.html" class="btn-info">Подробнее</a>
            </button>
          </div>

          <div class="submenu-divider">|</div>
          <div class="submenu_right">
            <div class="submenu_item">
              <img src="/images/menu/souvenir/mugs.png" alt="Кружки" class="submenu_img">
              <span class="submenu-text">Кружки</span>
            </div>

            <div class="submenu_item">
              <img src="/images/menu/souvenir/trinkets.png" alt="Брелоки" class="submenu_img">
              <span class="submenu-text">Брелоки</span>
            </div>

            <div class="submenu_item">
              <img src="/images/menu/souvenir/pennants.png" alt="Вымпел" class="submenu_img">
              <span class="submenu-text">Вымпел</span>
            </div>

            <div class="submenu_item">
              <img src="/images/menu/souvenir/graverton.png" alt="Гравертон" class="submenu_img">
              <span class="submenu-text">Гравертон</span>
            </div>

            <div class="submenu_item">
              <img src="/images/menu/souvenir/caps.png" alt="Кепки" class="submenu_img">
              <span class="submenu-text">Кепки</span>
            </div>

            <div class="submenu_item">
              <img src="/images/menu/souvenir/pillowcases.png" alt="Наволочки" class="submenu_img">
              <span class="submenu-text">Наволочки</span>
            </div>

            <div class="submenu_item">
              <img src="/images/menu/souvenir/bags.png" alt="Сумки" class="submenu_img">
              <span class="submenu-text">Сумки<br />(сублимационные)</span>
            </div>

            <div class="submenu_item">
              <img src="/images/menu/souvenir/plates.png" alt="Тарелки" class="submenu_img">
              <span class="submenu-text">Тарелки</span>
            </div>
          </div>
        </div>
      </li>


      <div class="submenu_item-divider">|</div>

      <li class="menu_item">
        <a href="/html/stamps/stamps.html" class="btn-info">Печати <br />и штампы</a>
      </li>

    </ul>


    <!-- Бургер кнопка -->
    <div class="menu_burger">
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!-- Список бургер-меню -->
    <div class="menu_burger_list">
      <!-- Кнопка закрытия -->
      <div class="menu_burger_close">&times;</div>

      <!-- Пункт меню 1 -->
      <div class="menu_burger_item">
        <a href="/html/list_product/list_product.html" class="btn-info">Листовая полиграфия</a>
        <div class="menu_burger_submenu">
          <a href="/html/list_product/Business_card.html" class="submenu_link">Визитки</a>
          <a href="/html/list_product/list.html" class="submenu_link">Листовки и флаеры</a>
          <a href="/html/list_product/booklets.html" class="submenu_link">Буклеты</a>
          <a href="/html/list_product/Poster.html" class="submenu_link">Плакаты, постеры, афиши</a>
          <a href="/html/list_product/calendar.html" class="submenu_link">Календари</a>
          <a href="/html/list_product/Certificates.html" class="submenu_link">Сертификаты, грамоты, дипломы</a>
          <a href="/html/list_product/Ads.html" class="submenu_link">Объявления</a>
        </div>
      </div>

      <!-- Пункт меню 2 -->
      <div class="menu_burger_item">
        <a href="/html/operational_services/operational_services.html" class="btn-info">Оперативные услуги</a>
        <div class="menu_burger_submenu">
          <a href="/html/operational_services/printing_documents.html" class="submenu_link">Печать документов</a>
          <a href="/html/operational_services/copy_documents.html" class="submenu_link">Копирование документов</a>
          <a href="/html/operational_services/scan.html" class="submenu_link">Сканирование документов</a>
          <a href="/html/operational_services/drawings.html" class="submenu_link">Чертежи</a>
          <a href="/html/operational_services/posters.html" class="submenu_link">Плакаты, постеры, афиша</a>
          <a href="/html/operational_services/spring.html" class="submenu_link">Брошюровка на пружину</a>
          <a href="/html/operational_services/lamination.html" class="submenu_link">Ламинирование</a>
        </div>
      </div>

      <!-- Пункт меню "Книги, журналы, газеты" -->
      <div class="menu_burger_item">
        <a href="/html/Books/Books.html" class="btn-info">Книги, журналы, газеты</a>
        <div class="menu_burger_submenu">
          <a href="/html/Books/Books.html" class="submenu_link">Книги</a>
          <a href="/html/Books/Books.html" class="submenu_link">Журналы</a>
          <a href="/html/Books/Books.html" class="submenu_link">Газеты</a>
        </div>
      </div>

      <!-- Этикеточная продукция -->
      <div class="menu_burger_item">
        <a href="/html/sticker/sticker.html" class="btn-info">Этикеточная продукция</a>
      </div>

      <!-- Способы изготовления -->
      <div class="menu_burger_item">
        <a href="/html/printing_press/printing_press.html" class="btn-info">Способы изготовления</a>
        <div class="menu_burger_submenu">
          <a href="/html/printing_press/ofset.html" class="submenu_link">Офсетная печать</a>
          <a href="/html/printing_press/digital.html" class="submenu_link">Цифровая печать</a>
          <a href="/html/printing_press/risograph.html" class="submenu_link">Ризография</a>
          <a href="/html/Books/newspaper.html" class="submenu_link">Газетная печать</a>
          <a href="/html/printing_press/large_format.html" class="submenu_link">Широкоформатная печать</a>
        </div>
      </div>

      <!-- Сувениры и подарки -->
      <div class="menu_burger_item">
        <a href="/html/souvenir/souvenir.html" class="btn-info">Сувениры и подарки</a>
        <div class="menu_burger_submenu">
          <a href="/html/souvenir/mugs.html" class="submenu_link">Кружки</a>
          <a href="/html/souvenir/trinkets.html" class="submenu_link">Брелоки</a>
          <a href="/html/souvenir/pennants.html" class="submenu_link">Вымпел</a>
          <a href="/html/souvenir/graverton.html" class="submenu_link">Гравертон</a>
          <a href="/html/souvenir/caps.html" class="submenu_link">Кепки</a>
          <a href="/html/souvenir/pillowcases.html" class="submenu_link">Наволочки</a>
          <a href="/html/souvenir/bags.html" class="submenu_link">Сумки (сублимационные)</a>
          <a href="/html/souvenir/plates.html" class="submenu_link">Тарелки</a>
        </div>
      </div>

      <!-- Печати и штампы -->
      <div class="menu_burger_item">
        <a href="/html/stamps/stamps.html" class="btn-info">Печати и штампы</a>
      </div>
    </div>
  </nav>
</header>